.cloud{
    background-color: blanchedalmond;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items:center;
    padding: 1rem;
    margin: 2rem 0;
}
.cl-image-wrapper{
    width: 4rem;
    height: 4rem;
    margin: 0 1rem;
}
.cl-image{
    width: 100%;
    height: 100%;
}