.gradient__bg {
  /* background:-moz-radial-gradient(circle at 3% 25%, rgba(0, 40, 83, 1) 0%, rgba(4, 12, 24, 1) 25%); */

  /* safari 5.1+,chrome 10+ */
  /* background:-webkit-radial-gradient(circle at 3% 25%, rgba(0, 40, 83, 1) 0%, rgba(4, 12, 24, 1) 25%); */

  /* opera 11.10+ */
  /* background:-o-radial-gradient(circle at 3% 25%, rgba(0, 40, 83, 1) 0%, rgba(4, 12, 24, 1) 25%); */

  /* ie 10+ */
  /* background:-ms-radial-gradient(circle at 3% 25%, rgba(0, 40, 83, 1) 0%, rgba(4, 12, 24, 1) 25%); */

  /* global 92%+ browsers support */
  background: radial-gradient(
    circle at 3% 25%,
    rgb(212, 137, 255) 0%,
    rgb(255, 255, 255) 25%
  );
}

a {
  text-decoration: none;
  /* color: rgb(154, 45, 204); */
  color: rgb(138, 136, 255);
}

.btn {
    background-color: rgb(134, 84, 242);
    color: #fff;
    padding: 1rem 4rem;
    font-size: 2rem;
    cursor: pointer;
    outline: none;
    border: none;
    border-radius: 5px;
}
.btn-primary {
}
span{
    color: rgb(134, 84, 242);
}
li{
  list-style: none;
}