@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300&display=swap");

*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --gradient-text: linear-gradient(89.97deg, #ae67fa 1.84%, #f49867 102.67%);
  --gradient-bar: linear-gradient(103.22deg, #ae67fa -13.86%, #f49867 99.55%);

  --color-bg: #ffffff;
  --color-footer: #2f85e1;
  --color-blog: #0b65be;
  --color-text: #3b5268;
  --color-subtext: #ff8a71;

  --background-grone: linear-gradient(to left bottom, #d5699a, rgb(41, 64, 109));
  --background-grtwo: linear-gradient(to left bottom, #9e0046, rgb(3 35 100));
}

html {
  font-size: 62.5%;
}
body {
  font-size: 2.2rem;
  font-family: "Roboto", sans-serif;
  background: var(--color-bg);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  letter-spacing: .1rem;
}

/* @media (max-width: 37em) {
  html {
    font-size: 50.5%;
  }
}
@media (max-width: 56em) {
  html {
    font-size: 50.5%;
  }
}
@media (max-width: 75em) {
  html {
    font-size: 50.5%;
  }
}
@media (max-width: 112em) {
  html {
    font-size: 75.5%;
  }
} */
